body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Major Mono Display', monospace;
}
.title {
  font-size: 40pt;
}
.w3-bar-block .w3-bar-item {
  padding:20px
} 

#mySidebar {
  display:none; 
  z-index:2; 
  width: 40%; 
  min-width: 300px;
}

.w3-white, .w3-xlarge {
  max-width:1200px;
  margin:auto
} 

.w3-quarter:hover{
  filter: grayscale(0);
  box-shadow: 4pt 4pt 3pt grey;
}

/* .image:hover {
    filter: grayscale(0);
    border: 2pt solid black;
    box-shadow: 1pt 4pt 3pt grey;
} */

.w3-quarter {
z-index: -1;
object-fit: cover;
transition: 500ms;
filter: grayscale(1);
} 
